<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1073246117887-24l9g63337vn02j1udqv05v43f198hk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073246117887-24l9g63337vn02j1udqv05v43f198hk5</string>
	<key>API_KEY</key>
	<string>AIzaSyA3B91ih1eH1WS2IAP6mO_fzdfGc0L-Bh0</string>
	<key>GCM_SENDER_ID</key>
	<string>1073246117887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.u2731.audiobook</string>
	<key>PROJECT_ID</key>
	<string>audiobook-35e68</string>
	<key>STORAGE_BUCKET</key>
	<string>audiobook-35e68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073246117887:ios:56ddbc928ef93041</string>
	<key>DATABASE_URL</key>
	<string>https://audiobook-35e68.firebaseio.com</string>
</dict>
</plist>